# Outputs
.next
.nitro
.nuxt
.output
.react-router
.tanstack
dist
generated
next-env.d.ts

# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov

# Debug
.pnpm-debug.log*
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary
__tmp__
*.old

# IDEs
.idea
.vs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc
.DS_Store
*.pem

# Development
.turbo
