@import "@veehance/core";
@import "#build/ui.css";

@layer base {
  :root,
  :host {
    color-scheme: var(--ui-color-scheme);
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--ui-scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--ui-scrollbar-thumb);
    border-radius: calc(var(--ui-radius) * 4);
  }
}
